/**** **** **** **** **** **** **** **** **** **** **** ****
ご自身のTerraform Cloud Org名で変数を置き換えてください。
**** **** **** **** **** **** **** **** **** **** **** ****/

tfc_organization = "YOUR_ORGANIZATION"